<!--
EJS Webpage template for the Hangman Game page for Nostalgia Games
-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="">
    <meta name="author" content="">

    <form><title id="title" name="game_id">Hangman</title></form>

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css"  type="text/css">

	<!-- Custom CSS -->
    <link rel="stylesheet" href="css/style.css">
     <link rel="stylesheet" href="../css/game-page.css">

	<!-- Custom Fonts -->
    <link rel="stylesheet" href="font-awesome/css/font-awesome.min.css"  type="text/css">
    <link rel="stylesheet" href="fonts/font-slider.css" type="text/css">

	<!-- jQuery and Modernizr-->
	<script src="js/jquery-2.1.1.js"></script>

	<!-- Core JavaScript Files -->
    <script src="js/bootstrap.min.js"></script>

    <script src="js/photo-gallery.js"></script>

    <script type="text/javascript" src="../js/index.js"></script>

    <script src="js/Hangman.js"></script>

    <!--script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script-->

    <link href="css/Hangman.css" rel="stylesheet">

	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="js/html5shiv.js"></script>
        <script src="js/respond.min.js"></script>
    <![endif]-->
</head>
<body>
	<!--Top-->

	<!--Header-->
	<header class="container">
		<div class="row">
			<div class="col-md-4">
				<a href="category"><div id="logo"><img src="images/new-logo.jpg" /></div></a>
			</div>

		</div>
	</header>
	<!--Navigation-->
    <nav id="menu" class="navbar" style="color: white; font-size: 30px; text-align: center;">
      Hangman
	</nav>
	<!--//////////////////////////////////////////////////-->
	<!--///////////////////Product Page///////////////////-->
	<!--//////////////////////////////////////////////////-->
	<div id="page-content" class="single-page">
		<div class="container">
			<div class="row">
				<div id="main-content" class="col-md-6">
          <div class= "game">
            <div class="wrapper">
             <h1>Hangman</h1>
              <p>Use the alphabet below to guess the word, or click hint to get a clue. </p>
              <p id="catagoryName"></p>
              <p id="mylives"></p>
              <p id="clue">Clue -</p>
              <p id="hold"></p>
           </div>
          <div class="wrapper">
              <div id="buttons">
              </div>
               <canvas id="stickman">This Text will show if the Browser does NOT support HTML5 Canvas tag</canvas>
              <div class="container">
                <button id="hint">Hint</button>
                <button id="reset">Play again</button>
              </div>
          </div>
          </div>
					<div class="product-desc">
						<ul class="nav nav-tabs">
							<li class="active"><a href="#comment">Comments</a></li>
							<li><a href="#review">Review</a></li>
						</ul>
						<div class="tab-content">
							<div id="comment" class="tab-pane fade in active">
								<div class="container">
									<form method="get" action="/hangman/updatecomments">    
			                            <%
			                              if (comments){
			                              var buttons = '';
			                              console.log(comments);
			                              comments.forEach(function(item){

			                                buttons+=  `<div class="row">
			                                    <div class="col-sm-1">
			                                  <div class="thumbnail">
			                                  <img class="img-responsive user-photo" src="https://ssl.gstatic.com/accounts/ui/avatar_2x.png">
			                                  </div><!-- /thumbnail -->
			                                  </div><!-- /col-sm-1 -->

			                                  <div class="col-sm-5">
			                                  <div class="panel panel-default">
			                                  <div class="panel-heading">
			                                  <strong></strong>
			                                  </div>
			                                  <div class="panel-body">`+item+`</div><!-- /panel-body --></div><!-- /panel panel-default -->
			                                  </div><!-- /col-sm-5 -->
			                                  </div><!-- /row -->`;
			                              });%>
			                              <%- buttons %>
			                              <% } %>
			                              </form>
								</div>
								<%console.log("lalalala222");%>
							</div>
							<div id="review" class="tab-pane fade">
							  <div class="review-form">
                   <h6 align="left">Did you like the game? </h6>
                   <!--the following lines are for the like and dislike buttons-->
                   <form action="/hangman" method="get">
                   	    <div  style="float: left">
                        <a href="#" onclick="updateLikesHangman()">  <i   class="fa fa-thumbs-up" aria-hidden="true" style="font-size:36px;" id="thumbs-up" disabled></i></a>
                        <span  id="likes"><%- likes %></span>
                        </div>
                        <div style="float: left">
                        <a  href="#" onclick="updateDislikesHangman()"><i  class="fa fa-thumbs-down" id="thumbs-down" style="font-size:36px; margin-left: 10px;"></i></a>
                        <span  id="dislikes" name="dislikes"><%- dislikes %></span>
                      
                    </form method="post" action="/updatecomments">
                    </div>
                     </br>

								<h6 align="left"  style="margin-top: 20px;">Write a review</h6>
								<form name="form1" id="ff">
									<label>
									<span align="left">Your message here:</span>
									<textarea name="message" id="message"></textarea>
									</label>
									<div class="text-right">
										<input class="btn btn-default" type="reset" name="reset" value="Reset">
										<a href="#" onclick="changeReviewHangman()"><input class="btn btn-default" type="submit" name="Submit" value="Submit"></a>
									</div>
								</form>
							  </div>
							</div>
						</div>
					</div>
				</div>
				<div id="sidebar" class="col-md-4">
					<div class="widget wid-categories">
						<div class="heading"><h4>Game Description</h4></div>
						<div class="content">

<span id="game-description">
  In Hangman, you have to guess the word by selecting the different letters.

  Each time there is a different category to guess from.

  You can get a hint by clicking on the hint button.

  You have 10 lives, each time you choose a letter that isn't in the word, you lose a life.
  <br>
 </span>
 <a href="#">  <i class="fa fa-thumbs-up disabled" id="thumbs-up" aria-hidden="true" style="font-size:36px; color: gray;
            cursor:not-allowed;"></i></a>
                        <strong id="likes2"><%- likes %></strong>
                        <a href="#" style=""><i class="fa fa-thumbs-down" style="font-size:36px; margin-left: 40px; color: gray; cursor:not-allowed;"></i></a>
                        <strong id="dislikes2"><%- dislikes %></strong>

						</div>
					</div>


				</div>
			</div>
		</div>
	</div>




  <footer>
		<div class="container">
			<div class="wrap-footer">
				<div class="row">
					<div class="col-md-3 col-footer footer-1">
						<img src="images/new-logo2.png" />
						<p>Copy right @CU_Boulder</p>
					</div>
					<div class="col-md-3 col-footer footer-2">
						<div class="heading"><h4>About us</h4></div>
						<ul>
							<li><a href="about_us">About Us</a></li>
						</ul>
					</div>
					<div class="col-md-3 col-footer footer-3">
						<div class="heading"><h4>Submit Game</h4></div>
						<ul>
							<li><a href="#">Submit Games</a></li>
						</ul>
					</div>
					<div class="col-md-3 col-footer footer-4">
						<div class="heading"><h4>Contact Us</h4></div>
						<ul>
							<li><span class="glyphicon glyphicon-home"></span>Boulder, Colorado USA</li>
							<li><span class="glyphicon glyphicon-earphone"></span>+91 999999999999</li>
							<li><span class="glyphicon glyphicon-envelope"></span>support@nostalgiagames.com</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</footer>


	<!-- IMG-thumb -->
	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-body">
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

	<script>
	$(document).ready(function(){
		$(".nav-tabs a").click(function(){
			$(this).tab('show');
		});
		$('.nav-tabs a').on('shown.bs.tab', function(event){
			var x = $(event.target).text();         // active tab
			var y = $(event.relatedTarget).text();  // previous tab
			$(".act span").text(x);
			$(".prev span").text(y);
		});
	});
	</script>
</body>
</html>